
body{

    background-image: url(./images.png);
    background-color: rgb(0, 255, 208);
}

#samuel{

justify-content: center;
justify-items: center;
font-weight: bolder;
display: block;
margin-top: 300px;
background-color: rgb(0, 0, 0);
color: #fff;


}